body{
    margin: 0;
    padding: 0;
    background-image: url(../imagen/fondoCalcular.jpg);
    background-size: cover;
}

/* 头框 */
header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.izq h1{
    color: brown;
    text-shadow: black 5px 5px 5px;
    font-size: 50px;
}

.dere a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(105, 60, 5);
    margin: 10px;
}

.cuerpo{
    display: flex;
    margin: 100px;
}

.logo img{
    display: none;

}

a:hover{
    text-decoration: underline;
}

.box1{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    

}

.box2{
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-inter{
    background-color: whitesmoke;
    padding: 80px;
    border: 1px solid gray;
    border-radius: 5px;
}

.box-inter input{
    margin: 10px;
    padding: 10px;
}

.box1 img{
    width: 500px;
}

#ingre p{
    color: red;
    margin: 1px;
}

.logo{
    display: flex;
    justify-content: center;
}


@media(max-width:1000px){
    .box1{
        display: none;
    }

    .cuerpo{
        justify-content: center;
    }

    .logo img{
        display: block;
        width: 200px;
    }
}

@media(max-width:600px){


    .izq h1{
        font-size: 35px;
    }

    .dere a{
        font-size: 15px;
    }

    .box-inter h1{
        font-size: 25px;
    }

    .box-inter input{
        padding: 5px;
        width: 140px;
    }

    .logo img{
        width: 150px;
    }

    .box-inter{
        padding: 60px;
    }





}